
final/ru_RU/ru_RU.twitter.txt
final/ru_RU/ru_RU.news.txt
final/ru_RU/ru_RU.blogs.txt
final/fi_FI/fi_FI.twitter.txt
final/fi_FI/fi_FI.news.txt
final/fi_FI/fi_FI.blogs.txt
final/de_DE/de_DE.blogs.txt
final/de_DE/de_DE.news.txt
final/de_DE/de_DE.twitter.txt
SwiftKey.zip
final/en_US/en_US.blogs.txt
final/en_US/en_US.news.txt
final/en_US/en_US.twitter.txt
.Rproj.user
